<md-card class="signUpContainer mat-elevation-z0" flex="flex">
    <form #signupForm="ngForm">
  <md-card-content>
    <md-grid-list cols="1" rows="4" [rowHeight]="70">
      <md-grid-tile>
        <md-form-field class="full-width">
            <input mdInput type="email" name="email" placeholder="Enter your email address" [(ngModel)]="email" class="formInput" maxlength="60" required/>
        </md-form-field>
      </md-grid-tile>
      <md-grid-tile>
        <md-form-field class="full-width">
          <input mdInput type="password" name="password" placeholder="Choose a password" [(ngModel)]="password" class="formInput" required/>
        </md-form-field>
      </md-grid-tile>
      <md-grid-tile>
        <md-form-field class="full-width">
            <input mdInput name="displayName" placeholder="Enter a display name" [(ngModel)]="displayName" class="formInput" maxlength="12" required/>
        </md-form-field>
      </md-grid-tile>
    </md-grid-list>
    <md-grid-list cols="1" rows="4" [rowHeight]="50" style="margin-top:57px;">
      <md-grid-tile>
          <button class="full-width rbtn" md-raised-button color="primary" [disabled]="!signupForm.form.valid" type="submit" (click)="signUp()" id="btn-signUp">Register</button>
      </md-grid-tile>
    </md-grid-list>
  </md-card-content>
</form>
</md-card>
