@import "~@angular/material/prebuilt-themes/purple-green.css";

.full-width {
  width:100%;
}

#logo {
  display: inline-block;
  background: url('../../assets/img/logo.png') no-repeat;
  background-size: cover;
  position: absolute;
  margin: auto;
  top: 0;
  right: 0;
  bottom: 55%;
  left: 0;
  width: 270px;
  height: 128px;
  min-width: 60px;
}


.material-icons {
  color:#FFF;
  font-weight: 200!important;
  margin-right: 10px;
}

.signUpContainer {
    position: absolute;
    margin: auto;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    width: 100%;
    max-width: 312px;
    height: 100px;
    background-color: rgba(0, 0, 0, 0);
    border: 0px;
    border-radius: 3px;
}

.rememberMe {
  text-align: left;
  font-size: 13px;
}

>>>input[_ngcontent-c8] {
  color: #FFF;
  width: 100%;
  max-width: 312px;
  font-size: 17px;
}

>>>[_ngcontent-c8] .mat-input-placeholder {
  color: #FFF;
}

>>>[_ngcontent-c8] .mat-input-placeholder.mat-form-field-placeholder.mat-float {
  color: #FFF;
}

>>>[_ngcontent-c8] .mat-form-field-ripple {
  background-color: #5D398A
}

>>>[_ngcontent-c8] .mat-form-field-placeholder-wrapper {
  top: -1.2em;
  color: #FFF;
}

.space input {
  letter-spacing: 5px;
}

[_ngcontent-c8] .mat-raised-button[disabled] {
  background-color: rgba(255, 255, 255, .12);
}


>>>[_ngcontent-c8] .mat-form-field-underline {
  background-color: #FFF;
}

[_ngcontent-c8] .rbtn {
  background-color: #fff;
  color: #472155;
}

[_ngcontent-c8]>>>.mat-ripple-element {
  background-color: rgba(93, 57, 138, 0.35)!important;
}

