<div class="dash-wrapper">
    <div id="logo"></div>
</div>
<md-card class="dashWrapper mat-elevation-z0" flex="flex" flex-gt-sm="50" flex-gt-md="33">
      <h3>Hello,</h3>
      <p class="full-width" id="userEmail" *ngIf="(user|async)?.uid">{{username}}!<br>you're currently logged in with {{userEmail}}.</p>
  <md-card-content>
    <md-grid-list cols="1" rows="4" [rowHeight]="80">
      <md-grid-tile>
        <button class="full-width rbtn" md-raised-button color="primary" *ngIf="(user|async)?.uid"  routerLink="/new-form">New</button>
      </md-grid-tile>
      <md-grid-tile>
        <button class="full-width rbtn" md-raised-button color="primary" *ngIf="(user|async)?.uid" routerLink="/quoteManagement">Previous</button>
      </md-grid-tile>
      <md-grid-tile>
        <button class="full-width rbtn" md-raised-button color="primary" *ngIf="(user|async)?.uid" href="#" (click)="logout()">Sign Out</button>
      </md-grid-tile>
    </md-grid-list>
  </md-card-content>
</md-card>
