.full-width {
  width: 100%;
}

#logo {
  display: inline-block;
  background: url('../../assets/img/logo.png') no-repeat;
  background-size: cover;
  position: absolute;
  margin: auto;
  top: 0;
  right: 0;
  bottom: 55%;
  left: 0;
  width: 270px;
  height: 128px;
  min-width: 60px;
}

.material-icons {
  color: #FFFFFF;
  font-weight: 200!important;
  margin-right: 10px;
}

.loginContainer {
  position: absolute;
  margin: auto;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  width: 100%;
  max-width: 312px;
  height: 100px;
  background-color: rgba(0, 0, 0, 0);
  border: 0px;
  border-radius: 3px;
}

.rememberMe {
  text-align: left;
  font-size: 11px;
  color: #FFFFFF;
  margin-top: 15px;
}

.forgot {
  font-size: 11px;
  text-align: right;
  position: absolute;
  left: -1.0%;
  top: 8%;
  margin-top: 15px;
}

.falign {
  text-align: right;
}

:host >>>input {
  color: #FFFFFF;
  width: 100%;
  max-width: 312px;
  font-size: 17px;
}

:host >>> .mat-input-placeholder {

  color: #FFFFFF;
}

:host>>> .mat-input-placeholder.mat-form-field-placeholder.mat-float {

  color: #FFFFFF;
}

:host>>> .mat-form-field-ripple {

  background-color: #5D398A
}

:host>>> .mat-form-field-placeholder-wrapper {

  top: -1.2em;
  color: #FFFFFF;
}

.space input {
  letter-spacing: 5px;
}

:host>>> .mat-form-field-underline {

  background-color: #FFFFFF;
}

:host>>> .rbtn {

  background-color: #FFFFFF;
  color: #472155;
}

:host>>> .mat-ripple-element {

  background-color: rgba(93, 57, 138, 0.35)!important;
}

.spinner {
  width: 28px;
  height: 28px;
  position: relative;
  margin: auto;
  left: 0;
  right: 0;
}

.double-bounce1,
.double-bounce2 {
  width: 100%;
  height: 100%;
  border-radius: 50%;
  background-color: #5D398A;
  opacity: 0.6;
  position: absolute;
  top: 0;
  left: 0;
  -webkit-animation: sk-bounce 2.0s infinite ease-in-out;
  animation: sk-bounce 2.0s infinite ease-in-out;
}

.double-bounce2 {
  -webkit-animation-delay: -1.0s;
  animation-delay: -1.0s;
}

@-webkit-keyframes sk-bounce {
  0%,
  100% {
    -webkit-transform: scale(0.0)
  }
  50% {
    -webkit-transform: scale(1.0)
  }
}

@keyframes sk-bounce {
  0%,
  100% {
    transform: scale(0.0);
    -webkit-transform: scale(0.0);
  }
  50% {
    transform: scale(1.0);
    -webkit-transform: scale(1.0);
  }
}

#fadePage {
  -webkit-animation: fadein 1s;
  -moz-animation: fadein 1s;
  -ms-animation: fadein 1s;
  -o-animation: fadein 1s;
  animation: fadein 1s;
}

@keyframes fadein {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

@-moz-keyframes fadein {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

@-webkit-keyframes fadein {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

@-ms-keyframes fadein {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

@-o-keyframes fadein {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}




/* .mat-form-field-placeholder {

  color: #FFFFFF!important;
}

.mat-hint {
  color: #FFFFFF!important;
} */
