<div class="dash-wrapper">
  <div id="logo"></div>
</div>
<mat-card class="loginContainer mat-elevation-z0" flex="flex">
  <mat-card-content>
    <mat-grid-list cols="1" rows="4" [rowHeight]="70">
      <mat-grid-tile class="alternate-theme">
        <mat-form-field class="full-width" [hideRequiredMarker]="true">
          <i matPrefix class="material-icons">account_circle</i>
          <input matInput [(ngModel)]="email" type="email" name="email" class="formInput" placeholder="E-mail address" required/>
          <mat-error *ngIf="globalFormControl.hasError('required')">
            <strong>e-mail address is </strong> required
          </mat-error>
        </mat-form-field>
      </mat-grid-tile>
      <mat-grid-tile>
        <mat-form-field class="full-width space" [hideRequiredMarker]="true">
          <i matPrefix class="material-icons">lock</i>
          <input matInput type="password" [(ngModel)]="password" name="password" class="formInput input-theme" placeholder="Password"
            (keypress)="handleSubmit($event)" required/>
          <mat-error *ngIf="globalFormControl.hasError('required')">
            <strong>password is </strong> required
          </mat-error>
        </mat-form-field>
      </mat-grid-tile>
    </mat-grid-list>
    <mat-grid-list cols="2" [rowHeight]="42">
      <mat-grid-tile-footer cols="2">
        <!-- <mat-slide-toggle id="rememberMe" class="rememberMe" [(ngModel)]="rememberMe" [checked]="rememberMe" (change)="toggleEditable($event)"> -->
          <!-- <span>&nbsp; &nbsp; Remember me</span> -->
        <!-- </mat-slide-toggle> -->
        <!-- <span class="forgot full-width"> -->
          <!-- <a (click)="resetPassword()" style="text-decoration:none;color:#FFFFFF;">Forgot your password?</a> -->
        <!-- </span> -->
      </mat-grid-tile-footer>
    </mat-grid-list>
    <mat-grid-list cols="1" rows="4" [rowHeight]="50" style="margin-top:80px;">
      <mat-grid-tile>
        <button class="full-width rbtn" mat-raised-button color="primary" id="btn-login" (click)="login()">Log In</button>
      </mat-grid-tile>
      <mat-grid-tile>
        <button class="full-width rbtn" mat-raised-button color="primary" id="btn-login" routerLink="/signup">Register</button>
      </mat-grid-tile>
    </mat-grid-list>
  </mat-card-content>
</mat-card>
