/* @import "~@angular/material/prebuilt-themes/purple-green.css"; */

.full-width {
  width:100%;
}

#logo {
  display: inline-block;
  background: url('../../assets/img/logo.png') no-repeat;
  background-size: cover;
  position: absolute;
  margin: auto;
  top: 0;
  right: 0;
  bottom: 55%;
  left: 0;
  width: 270px;
  height: 128px;
  min-width: 60px;
}

.material-icons {
  color:#FFF;
  font-weight: 200!important;
  margin-right: 10px;
}

.loginContainer {
    position: absolute;
    margin: auto;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    width: 100%;
    max-width: 312px;
    height: 100px;
    background-color: rgba(0, 0, 0, 0);
    border: 0px;
    border-radius: 3px;
}

.rememberMe {
  text-align: left;
  font-size: 13px;
}

input {
  color: #FFF!important;
  width:100%;
  max-width: 312px!important;
}

.forgot {
  font-size: 13px!important;
  margin-left: 9.5%;
  text-align: right;
  padding-bottom: 3px;
}

.falign {
  text-align: right;
}