.navBar{
    width: 100%;
    /*height: 100px;*/
    flex: none;
    flex-direction: row;
}

md-toolbar {
  /*background-color: rgba(0, 0, 0, 0);*/
  background-color: red;
}

#logo{
    display: inline-block;
    background: url('../../assets/img/logo.png') no-repeat;
    background-size: cover;
    width: 100%!important;
    height:auto!important;
    max-width: 300px;
    margin:auto;
}
