<!-- <div class="navBar">
  <div id="heading"><a routerLink="/">Excel QuoteManager</a></div>
  <div class="links">
    <span>
      <a *ngIf="!(user|async)?.uid" href="#" (click)="login()">Login</a>
    </span>
    <span>
      <a *ngIf="!(user|async)?.uid" routerLink="/signup">Sign Up</a>
    </span>
    <span>
      <span id="userEmail" *ngIf="(user|async)?.uid">Hello, {{userName}}</span>
    </span>
    <span>
      <a *ngIf="(user|async)?.uid" href="#" (click)="logout()">Logout</a>
    </span>
  </div>
</div> -->

<md-toolbar class="navBar mat-elevation-z0">
  <a class="back" (click) = "_location.back()"><i class="material-icons">chevron_left</i>Back</a>
  <p class="title">{{componentTitle}}</p>
  <p class="title-right">{{componentService}}service</p>
</md-toolbar>
