.full-width {
  width:100%!important;
}

.container {
  flex: 1 0 auto; /* 2 */
  padding: var(--space) var(--space) 0;
  width: 100%;
  background-color: #F0F0F0;
}

.container::after {
  content: '\00a0';
  display: block;
  margin-top: var(--space);
  height: 0px;
  visibility: hidden;
}

 h2 {
  margin-bottom: 15px;
}

main {
  overflow-y: auto;
  margin-top: 75px;
  margin-bottom: 180px;
}

md-select {
  width:100%;
}

.flex-nav {
  position:fixed;
  width:100%;
  z-index: 999;
}

.flex-foot {
  position:fixed;
  bottom:0;
  width:100%;
}

/*/deep/ .mat-input-underline {
    background-color: #472155;
}
.mat-input-wrapper {
    background: #472155;
}*/
