<script src="./fileUpload.js"></script>

<div fxLayout="column" fxLayoutAlign="start none">
  <div fxFlex="100" class="flex-nav">
    <app-navbar></app-navbar>
  </div>
  <div fxFlex="100" class="container">
    <main>
      <md-card class="mat-elevation-z0" style="background-color: transparent;">
        <md-card-content>
          <!-- <h2>QUOTE FORM</h2> -->
          <div class="newFormContainer">
            <form name="newQuoteForm">
              <div>
                <p>Client information</p>
                <md-form-field class="full-width" [hideRequiredMarker]="true">
                  <input mdInput [(ngModel)]="quote.client" placeholder="Client name" name="client" required>
                  <md-error *ngIf="globalFormControl.hasError('required')">
                    Client name is <strong>required</strong>
                  </md-error>
                </md-form-field>
              </div>
              <div>
                <md-form-field class="full-width" [hideRequiredMarker]="true">
                  <input mdInput [(ngModel)]="quote.email" placeholder="Email" name="email" [formControl]="emailFormControl">
                  <md-error *ngIf="emailFormControl.hasError('pattern')">
                    Please enter a valid email address
                  </md-error>
                  <md-error *ngIf="emailFormControl.hasError('required')">
                    Email is <strong>required</strong>
                  </md-error>
                </md-form-field>
              </div> 
              <div>
                <md-form-field class="full-width" [hideRequiredMarker]="true">
                  <input mdInput [(ngModel)]="quote.address" placeholder="Address" name="address" required>
                  <md-error *ngIf="globalFormControl.hasError('required')">
                    Address is <strong>required</strong>
                  </md-error>
                </md-form-field>
              </div>
              <div>
                <md-form-field class="full-width" [hideRequiredMarker]="true">
                  <input mdInput [(ngModel)]="quote.phone" placeholder="Phone" name="phone" type="number" required>
                  <md-error *ngIf="phoneFormControl.hasError('pattern')">
                    Please enter a valid <strong>phone number</strong>
                  </md-error>
                  <md-error *ngIf="phoneFormControl.hasError('required')">
                    Phone number is <strong>required</strong>
                  </md-error>
                </md-form-field>
              </div>
              <div>
                <br>
                <span class="nonInput">Date required</span>
                <md-form-field class="full-width" [hideRequiredMarker]="true">
                  <input mdInput class="full-width" [mdDatepicker]="picker" placeholder="" [(ngModel)]="date" name="date" #datePicker required>
                  <md-datepicker-toggle mdSuffix [for]="picker"></md-datepicker-toggle>
                  <md-datepicker touchUi="true" #picker></md-datepicker>
                  <md-error *ngIf="globalFormControl.hasError('required')">
                    Date is <strong>required</strong>
                  </md-error>
                </md-form-field>
              </div>
              <div>
                <md-form-field class="full-width noBorder" [hideRequiredMarker]="true">
                  <input class="ng-hide noBorder" mdInput>
                  <input class="ng-hide noBorder" id="userFile" multiple type="file" [(ngModel)]="quote.$userFile" (change)="fileEvent($event)"
                    name="userFile">
                  <button class="full-width noBorder" md-raised-button color="primary"><label for="userFile">Upload artwork</label></button>
                  <br>
                  <p id="log"></p>
                  <!-- <input mdInput style="display:none">
                    <input type="file" [(ngModel)]="quote.$userFile" (change)="fileEvent($event)" name="userFile"> -->
                  <!-- <input type="file" [(ngModel)]="quote.$userFile" (change)="fileEvent($event)" name="userFile" value=""> -->
                </md-form-field>
              </div>
              <div>
                <md-form-field class="full-width" [hideRequiredMarker]="true">
                  <input mdInput [(ngModel)]="quote.noKinds" placeholder="Number of kinds" name="noKinds" required>
                  <md-error *ngIf="globalFormControl.hasError('required')">
                    The number of kinds is <strong>required</strong>
                  </md-error>
                </md-form-field>
              </div>
              <div>
                <md-form-field class="full-width" [hideRequiredMarker]="true">
                  <input mdInput [(ngModel)]="quote.qKinds" placeholder="Quantity per kind" name="qKinds" required>
                  <md-error *ngIf="globalFormControl.hasError('required')">
                    Quantity per kind is <strong>required</strong>
                  </md-error>
                </md-form-field>
              </div>
              <div>
                <p>Include delivery costs?</p>
                <md-button-toggle-group [(ngModel)]="quote.cost" #group="mdButtonToggleGroup" name="cost">
                  <md-button-toggle value="Yes" class="btn-primary">Yes</md-button-toggle>
                  <md-button-toggle value="No" class="btn-primary">No</md-button-toggle>
                </md-button-toggle-group>
              </div>
              <div>
                <p>Label details</p>
                <table>
                  <colgroup>
                    <col width="45%">
                    <col width="10%">
                    <col width="45%">
                  </colgroup>
                  <tbody>
                    <tr>
                      <td style="padding-left:0px">
                        <md-form-field class="full-width" [hideRequiredMarker]="true">
                          <input mdInput [(ngModel)]="quote.width" type="number" maxlength="5" placeholder="Width" name="width" type="number" required>
                          <span mdSuffix>mm</span>
                          <md-error *ngIf="globalFormControl.hasError('required')">
                            <strong>Invalid</strong> width.
                          </md-error>
                        </md-form-field>
                      </td>
                      <td></td>
                      <td style="padding-right:0px">
                        <md-form-field class="full-width" [hideRequiredMarker]="true">
                          <input mdInput [(ngModel)]="quote.height" type="number" maxlength="5" placeholder="Height" name="height" type="number" required>
                          <span mdSuffix>mm</span>
                          <md-error *ngIf="globalFormControl.hasError('required')">
                            <strong>Invalid</strong> height.
                          </md-error>
                        </md-form-field>
                      </td>
                    </tr>
                  </tbody>
                </table>
              </div>
              <div>
                <md-form-field class="full-width" [hideRequiredMarker]="true">
                  <input mdInput [(ngModel)]="quote.labelsPer" maxlength="5" placeholder="Labels per roll or Max O/D" name="labelsPer" type="number"
                    required>
                  <md-error *ngIf="globalFormControl.hasError('required')">
                    Labels per is <strong>required</strong>
                  </md-error>
                </md-form-field>
              </div>
              <div>
                <span class="nonInput">Gap between labels if larger than 4mm</span>
                <md-form-field class="full-width" [hideRequiredMarker]="true">
                  <input mdInput [(ngModel)]="quote.gap" maxlength="5" type="number" value="4mm" name="gap" type="number" required>
                  <span mdSuffix>mm</span>
                  <md-error *ngIf="globalFormControl.hasError('required')">
                    Gap between is <strong>required</strong>
                  </md-error>
                </md-form-field>
              </div>
              <div>
                <p>Knife</p>
                <md-button-toggle-group [(ngModel)]="quote.knife" #group="mdButtonToggleGroup" name="knife">
                  <md-button-toggle value="New" class="btn-primary">New</md-button-toggle>
                  <md-button-toggle value="Existing" class="btn-primary">Existing</md-button-toggle>
                  <md-button-toggle value="Similar" class="btn-primary">Similar</md-button-toggle>
                </md-button-toggle-group>
              </div>
              <div>
                <p>Charges</p>
                <md-button-toggle-group [(ngModel)]="quote.charge" #group="mdButtonToggleGroup" name="charge">
                  <md-button-toggle value="New" class="btn-primary">No Charge</md-button-toggle>
                  <md-button-toggle value="Existing" class="btn-primary">Charge All</md-button-toggle>
                  <md-button-toggle value="Similar" class="btn-primary">Other Charge</md-button-toggle>
                </md-button-toggle-group>
              </div>
              <div>
                <p>Select Stock type</p>
                <md-select class="full-width" placeholder="Select Stock" [(ngModel)]="quote.stock" name="stock" touchUi="true" name="stock">
                  <md-option *ngFor="let stock of $stocks | async" [value]="stock.val()">
                    {{stock.val()}}
                  </md-option>
                </md-select>
              </div>
              <div>
                <p>Colour</p>
                <md-button-toggle-group [(ngModel)]="quote.color" #group="mdButtonToggleGroup" name="color">
                  <md-button-toggle value="New" class="btn-primary">Black</md-button-toggle>
                  <md-button-toggle value="Existing" class="btn-primary">White</md-button-toggle>
                  <md-button-toggle value="Similar" class="btn-primary">Full Colour</md-button-toggle>
                </md-button-toggle-group>
              </div>
              <div>
                <p>Select Embelishment</p>
                <md-select class="full-width" placeholder="Embleishments" [(ngModel)]="quote.embel" name="embel">
                  <md-option *ngFor="let embel of $embelishments | async" [value]="embel.val()">
                    {{embel.val()}}
                  </md-option>
                </md-select>
              </div>
              <div>
                <p>Orientation</p>
                <md-button-toggle-group [(ngModel)]="quote.Orientation" #group="mdButtonToggleGroup" name="orientation">
                  <md-button-toggle value="Wide" class="btn-primary">Wide edge leading</md-button-toggle>
                  <md-button-toggle value="Narrow" class="btn-primary">Narrow edge leading</md-button-toggle>
                </md-button-toggle-group>
              </div>
              <div>
                <p>Label applied by</p>
                <md-button-toggle-group [(ngModel)]="quote.appliedBy" #group="mdButtonToggleGroup" name="appliedBy">
                  <md-button-toggle value="Machine" class="btn-primary">Machine</md-button-toggle>
                  <md-button-toggle value="Hand" class="btn-primary">Hand</md-button-toggle>
                </md-button-toggle-group>
              </div>
              <div>
                <p>Select Adhesive</p>
                <md-select class="full-width" placeholder="Adhesive" [(ngModel)]="quote.adhesive" name="adhesive">
                  <md-option *ngFor="let adhesive of $adhesives | async" [value]="adhesive.val()">
                    {{adhesive.val()}}
                  </md-option>
                </md-select>
              </div>
              <div>
                <p>Overprinting</p>
                <md-button-toggle-group [(ngModel)]="quote.overPrint" #group="mdButtonToggleGroup" name="overPrint">
                  <md-button-toggle value="Direct" class="btn-primary">Direct</md-button-toggle>
                  <md-button-toggle value="Thermal" class="btn-primary">Thermal</md-button-toggle>
                  <md-button-toggle value="None" class="btn-primary">None</md-button-toggle>
                </md-button-toggle-group>
              </div>
              <div>
                <p>Core size</p>
                <md-select placeholder="Select core size">
                  <md-option>
                    <!-- {{ coresize.val }} -->
                    <button md-button>Other</button>
                  </md-option>
                </md-select>
              </div>
              <div>
                <p>Winding style</p>
                <br>
                <md-button-toggle-group class="windingBox mat-elevation-z0" #group="mdButtonToggleGroup">
                  <md-button-toggle class="windingOpt" value="1">
                    <img src="../../assets/img/1.png">
                  </md-button-toggle>
                  <md-button-toggle class="windingOpt" value="2">
                    <img src="../../assets/img/2.png">
                  </md-button-toggle>
                  <md-button-toggle class="windingOpt" value="3">
                    <img src="../../assets/img/3.png">
                  </md-button-toggle>
                  <md-button-toggle class="windingOpt" value="4">
                    <img src="../../assets/img/4.png">
                  </md-button-toggle>
                  <md-button-toggle class="windingOpt" value="5">
                    <img src="../../assets/img/5.png">
                  </md-button-toggle>
                  <md-button-toggle class="windingOpt" value="6">
                    <img src="../../assets/img/6.png">
                  </md-button-toggle>
                  <md-button-toggle class="windingOpt" value="7">
                    <img src="../../assets/img/7.png">
                  </md-button-toggle>
                  <md-button-toggle class="windingOpt" value="8">
                    <img src="../../assets/img/8.png">
                  </md-button-toggle>
                </md-button-toggle-group>
                <br>
              </div>
              <div>
                <p>Supplied In</p>
                <md-button-toggle-group [(ngModel)]="quote.supplied" #group="mdButtonToggleGroup" name="supplied">
                  <md-button-toggle value="Rolls" class="btn-primary">Rolls</md-button-toggle>
                  <md-button-toggle value="Dispensers" class="btn-primary">Dispensers</md-button-toggle>
                </md-button-toggle-group>
              </div>
              <div>
                <p>Select proof type</p>
                <md-select class="full-width" placeholder="Proof type" [(ngModel)]="quote.proofType" name="proofType">
                  <md-option value="PDF Proof">PDF Proof</md-option>
                  <md-option value="Full Colour - Finished Proof">Full Colour - Finished Proof (not diecut)</md-option>
                  <md-option value="Full Colour - Unfinished Proof">Full Colour - Unfinished Proof</md-option>
                  <md-option value="None">None</md-option>
                </md-select>
              </div>
              <div>
                <md-form-field class="full-width" [hideRequiredMarker]="true">
                  <textarea mdInput [(ngModel)]="quote.addInfo" placeholder="Additional Information" name="addInfo"></textarea>
                </md-form-field>
              </div>
              <div fxLayoutAlign="center center">
                <button layout-align="center center" md-raised-button (click)="submitQuote()" class="btn-success">Submit</button>
              </div>
            </form>
          </div>
        </md-card-content>
      </md-card>
    </main>
  </div>
</div>
