body,
html {
  background-color: #F0F0F0;
}

p {
  color: #472155;
  font-size: 16px;
  font-family: 'Open Sans semibold', sans-serif;
}

.newFormContainer {
  margin-left: auto;
  margin-right: auto;
  /* margin-top: 100px;   */
  height: 100%;
  max-width: 940px;
}

.nonInput {
  color: #6e6e6e;
  font-family: 'Open Sans', sans-serif;
  margin-top: -15px;
}

.mdsuffix {
  color: #472155;
}

main div {
  margin-bottom: 10px;
  margin-top: 10px;
}

main div p {
  margin-top: 5px;
  margin-bottom: 5px;
}

mat-button-toggle-group {
  margin-bottom: 30px;
  margin-top: 15px;
}

.selectMarg {
  padding-top: 12px;
  padding-bottom: 18px;
}

p>input>label {
  color: #472155;
  font-size: 16px;
  font-family: 'Open Sans semibold', sans-serif;
}

h2 {
  margin-bottom: 15px;
}

main {
  overflow-y: scroll;
  overflow-x: hidden;
  -ms-overflow-style: none;
  overflow: -moz-scrollbars-none;
  margin-top: 56px;
  /* margin-bottom: -50px; */
}

mat-select {
  width: 100%;
}


/* label {
  display: block;
  width: 100%;
} */

.upload {
  /* color: #6e6e6e; */
  color: #95989A;
  position: absolute;
  font-size: 13px;
  font-family: 'Open Sans', sans-serif;
  -webkit-animation: fadein 1.5s;
  -moz-animation: fadein 1.5s;
  -ms-animation: fadein 1.5s;
  -o-animation: fadein 1.5s;
  animation: fadein 1.5s;
}

@keyframes fadein {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

button span.mat-button-wrapper label[for="userFile"] {
  width: 100%!important;
}

>>>.mat-button-toggle-label-content {
  padding: 0px!important;
  width: 100%;
  text-align: center;
}

>>>[_ngcontent-c8] .mat-form-field-placeholder-wrapper {
  top: -1.2em;
  color: #5D398A;
}

.space input {
  letter-spacing: 5px;
}

>>> .mat-form-field-underline {
  background-color: #8b8b8b;
}

>>> .mat-form-field-placeholder {
  color: #8b8b8b;
}

>>>[_ngcontent-c8] .mat-hint {
  color: red!important;
}

>>>.mat-select-invalid {
  color:red!important;
}


>>>.removeB .mat-form-field-underline {
  background-color: transparent!important;
  color: transparent!important;
  border-color: transparent!important;
}

>>>.nw-Btn {
  color: #5D398A!important;
  border-bottom: 3px solid #5D398A!important;
  background-color: #fff;
}

.full-width {
  width: 100%!important;
}

.container {
  flex: 1 0 auto;
  /* 2 */
  padding: var(--space) var(--space) 0;
  width: 100%;
  background-color: #F0F0F0;
}

.container::after {
  content: '\00a0';
  display: block;
  margin-top: var(--space);
  /* height: 0px; */
  visibility: hidden;
}

.flex-nav {
  position: fixed;
  width: 100%;
  z-index: 999;
}

.mat-focused,
.mat-form-field-placeholder {
  color: #000;
}

.flex-foot {
  position: fixed;
  bottom: 0;
  width: 100%;
}

>>>.windingBox {
  height: 85px;
  overflow-y: hidden;
  overflow-x: scroll!important;
  -webkit-overflow-scrolling: touch!important;
  margin: 0px;
  padding: 0px;
  padding-top: 4px;
  padding-bottom: 2px;
  border: none;
  transition: opacity 1s linear;
  cursor: pointer;
  box-shadow: none;
}

.windingLabel {
  top: 40px;
  /* left: 0px; */
  left: -35px;
  right: 0px;
  margin: 0px auto;
  padding: 0px;
  text-align: center;
  position: absolute;
  color: #5D398A;
}

  .hideSection {
    clear: both;
    display: block;
    visibility: visible;
  }

  @media only screen and (max-width: 751px) {
    .hideSection {
      clear: both;
      display: none;
      visibility: none;
    }
    .windingLabel {
      left: 0px;
    }
  }



.windingBox::-webkit-scrollbar {
  width: 5px;
  height: 5px;
}

.windingBox::-webkit-scrollbar-thumb {
  background-color: #5D398A;
  border-radius: 50px;
}

.windingBox mat-button-toggle {
  -webkit-opacity: 0.4;
  -moz-opacity: 0.4;
  opacity: 0.4;
  -webkit-transition: all 0.2s ease;
  -moz-transition: all 0.2s ease;
  -ms-transition: all 0.2s ease;
  -o-transition: all 0.2s ease;
  transition: all 0.2s ease;
}

.windingBox .mat-button-toggle-checked {
  background-color: transparent;
  -webkit-opacity: 1;
  -moz-opacity: 1;
  opacity: 1;
  color: white;
}

mat-button-toggle img {
  position: relative;
  display: block;
  top: 0px;
  bottom: 0px;
  left: 0px;
  right: 0px;
}

>>>.windingOpt {
  margin: 5px;
  border: none;
}

mat-button-toggle:nth-child(2).windingOpt {
  border: none!important;
}

.btn-success {
  background-color: rgb(133, 193, 95);
  color: white;
  margin: auto;
  position: relative;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  margin-top: 40px;
  width: 100%;
  max-width: 320px;
  border-radius: 4px;
}

.material-icons {
  float: right;
  margin: 6px;
}

.noBorder {
  border: none;
}

.noBorder label {
  display:block;
  width:100%;
}


.btn-primary {
  background-color: #FFF;
  /* border: 1px solid rgba(93, 57, 138, 1); */
  color: rgba(93, 57, 138, 1);
}

.mat-button-toggle-checked {
  background-color: rgba(93, 57, 138, 1);
  color: white;
}

>>>.mat-button-toggle-label-content {
  padding: 0px;
  width: 100%;
}

>>>mat-button-toggle {
  color: rgba(93, 57, 138, 1);
  border-radius: 1px;
  border-bottom: 2px solid rgba(93, 57, 138, 1);
}

>>>mat-button-toggle:nth-child(2) {
  border-left: 1px solid rgba(93, 57, 138, 1);
  border-right: 1px solid rgba(93, 57, 138, 1);
}

>>>mat-button-toggle:last-child {
  border-right: none;
}

mat-button-toggle-group {
  display: flex;
  border-radius: 3px;
}

mat-button-toggle {
  flex-grow: 1;
  text-align: center;
}

label>div {
  font-size: 15px;
}

mat-button-toggle>label>div {
  display: flex;
}

textarea {
  resize: both;
  height: 50px;
}
