.newFormContainer {
    position: absolute;
    margin: auto;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    width: 100%;
    max-width: 90%;
    height: 100px;
    background-color: rgba(0, 0, 0, 0);
    border: 0px;
    border-radius: 3px;
}
.full-width {
  width:100%!important;
}

/*.full-card {
    position: fixed!important;
    right: 0!important;
    border-radius: 0;
    margin-top:20%;
    background-color: #F0F0F0;
    width: 100vh;
    height: 100vh;
}*/
