<div class="container">
  <app-navbar></app-navbar>
  <div fxLayout="row">
    <div fxFlex="grow">
      <div class="titleContainer">
        <div class="textContainer">
          <p class="openS" style="text-align:center; color:#FFFFFF;"><span class="open-s">QUOTE</span><br><span class="open-b">Management</span></p>
        </div>
      </div>
    </div>
  </div>
  <div class="searchContainer">
    <div fxLayout="row">
      <div fxFlex="grow">
        <div class="searchBar">
          <md-toolbar class="inputSearch mat-elevation-z0">
            <md-form-field class="full-width">
              <input mdInput placeholder="Search" tabindex="-1">
              <md-icon mdSuffix><i class="material-icons">search</i></md-icon>
            </md-form-field>
          </md-toolbar>
        </div>
      </div>
    </div>
  </div>
  <div class="row">
    <div fxFlex="grow" class="subTitle">
      <h4 class="populationHead">Recent Quotes</h4>
    </div>
  </div>
  <div fxLayout="column wrap">
    <div class="populationContainer">
      <div class="feed" fxLayout="column" fxFlex="grow">
        <div *ngFor="let quoteFile of feed | async" class="quote">
          <!-- <app-quote-thumbnail ></app-quote-thumbnail> -->
          <div class="quoteContainer" *ngIf="quoteFile.stage == 'completed'" [@FadeIn]>
            <div [ngClass]="(focusThumb==quoteFile.$key)?'quoteInnerContainer focused':'quoteInnerContainer'" (click)="toggleFocus($event, quoteFile.$key)">
              <div class="quoteData">
                <span class="quoteName">
                  {{ quoteFile.client }}
                </span>
                <span class="quoteID">
                  {{ quoteFile.$key }}
                </span>
              </div>
              <div class="quoteDate" [routerLink]="['/quote-preview/' + focusThumb]" [ngClass]="(focusThumb==quoteFile.$key)?'quoteDate focused':'quoteDate'"
                (click)="toggleFocus($event, quoteFile.$key)">
                <span>PREVIEW</span>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
