* {
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

input[type=number]::-webkit-inner-spin-button, 
input[type=number]::-webkit-outer-spin-button { 
  -webkit-appearance: none; 
  margin: 0; 
}

.quote.hidden {
  display: none;
}

.container {
  flex: 1 0 auto;
  /* padding: var(--space) var(--space) 0; */
  width: 100%;
  background-color: #F0F0F0;
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
}

.container-body {
  position: relative;
  margin-right: auto;
  margin-left: auto;
  /* padding-left: 15px; */
  /* padding-right: 15px; */
  max-width: 940px;
  display: flex;
}

.inputSearch mat-input-container .mat-errors-spacer {
  min-height: 0px !important;
}

.titleContainer {
  /* border: 1px solid red; */
  background-color: #472155;
  height: 60px;
}

p {
  margin-bottom: 15px;
}

@media only screen and (max-width: 751px) {
  .textContainer {
    width: 100%;
    top: 62px;
    position: absolute;
  }
}

.textContainer {
  margin: auto;
  right: 0;
  left: 0;
  width: 200px;
}

.open-b {
  font-size: 28px;
  font-weight: bold;
  text-transform: uppercase;
}

.openS {
  font-family: 'Open Sans', sans-serif;
  top: 0;
  bottom: 0;
  margin: auto;
}

.open-s {
  font-size: 18px;
  position: relative;
  left: -35px;
  top: 7px;
  bottom: 0;
  margin: auto;
}

.flex-nav {
  position: fixed;
  width: 100%;
  z-index: 999;
}

input {
  font-size: 16px;
  border: none;
  width: 100%;
}

.mat-toolbar {
  background-color: #FFFFFF;
  padding: 0px;
}

.mat-form-field {
  right: 0;
  bottom: 0;
  left: 0;
  margin: auto;
}

>>>.mat-form-field-infix {
  border-top: none;
}

.populationContainer {
  /* border: 1px solid red; */
  position: absolute;
  display: flex;
  margin: auto;
  top: 200px;
  max-width: 940px;
  right: 0;
  bottom: 0;
  left: 0;
  padding-left: 10px;
  padding-right: 10px;
  overflow-y: scroll;
  overflow-x: hidden;
  -ms-overflow-style: none;
  overflow: -moz-scrollbars-none;
  -webkit-overflow-scrolling: touch;
  margin-bottom: 10px;
}

.populationContainer::-webkit-scrollbar {
  width: 5px;
  height: 5px;
}

.populationContainer::-webkit-scrollbar-thumb {
  background-color: rgba(0, 0, 0, 0.2);
  border-radius: 50px;
}

.populationHead {
  font-family: 'Open Sans Semibold', sans-serif;
  font-size: 16px;
  padding: 0 10px;
  padding-top: 25px;
  padding-bottom: 35px;
  text-transform: uppercase;
  color: #CACACA;
}

@media only screen and (max-width: 751px) {
  mat-toolbar {
    height: 50px;
  }
  .populationContainer {
    top: 200px;
  }
  .populationHead {
    margin-top: 26px;
  }
}

.subTitle {
  position: relative;
  max-width: 940px;
  margin-left: auto;
  margin-right: auto;
}

.mat-input-infix mat-form-field-infix {
  height: 50px;
}

mat-toolbar {
  height: 0px;
}

.mat-toolbar-row {
  height: 0px;
}

.mat-toolbar .mat-toolbar-row {
  display: flex;
}

.searchContainer {
  /* border: 1px solid blue; */
  padding: 0 10px!important;
  position: absolute;
  margin: auto;
  right: 0;
  height: 80px;
  top: 92px;
  left: 0;
  max-width: 940px;
  z-index: 500;
}

.searchBar {
  display: flex;
  background-color: #FFFFFF;
  padding: 0 10px!important;
  border-radius: 5px;
  -webkit-box-shadow: 0px 4px 12px -2px rgba(0, 0, 0, 0.36);
  -moz-box-shadow: 0px 4px 12px -2px rgba(0, 0, 0, 0.36);
  box-shadow: 0px 4px 12px -2px rgba(0, 0, 0, 0.36);
}

>>>.mat-focused .mat-form-field-placeholder {
  color: rgba(0, 0, 0, 0);
}

.quoteContainer {
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  margin: auto;
  width: 100%;
  /* min-width: 363px; */
  margin-top: 7.5px;
  margin-bottom: 7.5px;
  height: 70px;
  border-radius: 5px;
  background-color: #FFFFFF;
  -webkit-box-shadow: 0px 4px 12px -2px rgba(0, 0, 0, 0.36);
  -moz-box-shadow: 0px 4px 12px -2px rgba(0, 0, 0, 0.36);
  box-shadow: 0px 4px 12px -2px rgba(0, 0, 0, 0.36);
  /* opacity: 0; */
}

a {
  display: block;
}

.quoteInnerContainer {
  border-radius: 5px;
  border-left: solid 7px #5D398A;
  display: flex;
  height: 100%;
  background-size: 200% 100%;
  background-image: linear-gradient(to right, transparent 50%, #5D398A 50%);
  transition: background-position .5s cubic-bezier(0.19, 1, 0.22, 1) .1s, color .5s ease 0s, background-color .5s ease;
}

.quoteInnerContainer:hover {
  /* color: rgba(255, 255, 255, 1); */
  /* background-color: rgba(255, 255, 255, 1); */
  /* background-position: -100% 100%; */
  cursor: pointer;
}

.quoteInnerContainer.focused {
  color: rgba(255, 255, 255, 1);
  background-color: rgba(92, 57, 138, 0.71);
  background-position: -100% 100%;
}

.quoteInnerContainer.focused #quotedate span {
  content: 'View'
}

.quoteInnerContainer span {
  pointer-events: none;
}


/* .quoteInnerContainer:hover span, */

.quoteInnerContainer.focused span {
  transition: all 0.3s cubic-bezier(0.000, 0.000, 0.230, 1);
  background-position: 0%;
  color: #FFFFFF;
}

.quoteID {
  font-family: 'Open Sans Semibold', sans-serif;
  color: #CECECE;
  flex: 1;
  font-size: 0.8em;
  padding: 0 10px;
}

.quoteData {
  top: 0;
  bottom: 0;
  flex-grow: 3;
  margin: auto;
  pointer-events: none;
}

.quoteDate {
  margin: auto;
  text-align: right;
  opacity: 0;
  pointer-events: none;
  top: 0;
  bottom: 0;
  left: 0;
  flex: 9;
  flex-grow: 1;
  font-family: 'Open Sans', sans-serif;
  color: #FFFFFF;
  padding: 10px;
  padding-right: 17px;
  border-top-right-radius: 5px;
  border-bottom-right-radius: 5px;
}

.quoteDate:hover {
  color: #000;
}

.quoteDate.focused {
  pointer-events: all;
  opacity: 1;
}

.quoteName {
  display: block;
  color: #95989A;
  font-weight: bold;
  font-family: 'Open Sans', sans-serif;
  padding: 0 10px;
}

.quote.hidden {
  display: none;
}

.feed {
  position: relative;
  /* height: 100%; */
}

.feed:before {
  content: ' ';
  position: fixed;
  display: block;
  width: 100%;
  height: 20px;
  left: 0;
  margin-top: -2px;
  -webkit-box-shadow: inset 6px 18px 8px -11px #F0F0F0;
  -moz-box-shadow: inset 6px 18px 8px -11px #F0F0F0;
  box-shadow: inset 0px 18px 8px -11px #F0F0F0;
}

.feed:after {
  content: ' ';
  position: fixed;
  display: block;
  width: 100%;
  height: 20px;
  left: 0;
  bottom: 5px;
  margin-top: -2px;
  -webkit-box-shadow: inset 0px -18px 8px -11px #F0F0F0;
  -moz-box-shadow: inset 0px -18px 8px -11px #F0F0F0;
  box-shadow: inset 0px -18px 8px -11px #F0F0F0;
}
