* {
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

.container {
  flex: 1 0 auto;
  /* padding: var(--space) var(--space) 0; */
  width: 100%;
  background-color: #F0F0F0;
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
}

.inputSearch md-input-container .md-errors-spacer {
  min-height: 0px !important;
}

.titleContainer {
  /* border: 1px solid red; */
  background-color: #472155;
  height: 105px;
}

.textContainer {
  margin: auto;
  right: 0;
  left: 0;
  width: 200px;
}

.open-b {
  font-size: 27px;
  font-weight: bold;
  text-transform: uppercase;
}

.openS {
  font-family: 'Open Sans', sans-serif;
  top: 0;
  bottom: 0;
  margin: auto;
}

.open-s {
  font-size: 17px;
  position: relative;
  left: -35px;
  top: 7px;
  bottom: 0;
  margin: auto;
}

.flex-nav {
  position: fixed;
  width: 100%;
  z-index: 999;
}

input {
  font-size: 16px;
  border: none;
  width: 100%;
}

.mat-toolbar {
  background-color: #FFF;
  padding: 0px;
}

.md-form-field {
  right: 0;
  bottom: 0;
  left: 0;
  margin: auto;
}

.populationContainer {
  /* border: 1px solid red; */
  position: absolute;
  display:flex;
  margin: auto;
  top: 257px;
  right: 0;
  bottom: 0;
  left: 0;
  padding-left: 10px;
  padding-right: 10px;
  overflow-y: scroll;
  overflow-x: hidden;
  -ms-overflow-style: none;
  overflow: -moz-scrollbars-none;
  margin-bottom: 10px;
}

.populationContainer::-webkit-scrollbar {
  display: none;
}

.populationHead {
  font-family: 'Open Sans Semibold', sans-serif;
  font-size: 16px;
  padding: 0 10px;
  padding-top: 35px;
  padding-bottom: 35px;
  text-transform: uppercase;
  color: #CACACA;
  height: 80px;
}

.subTitle {
  position: relative;
}

.mat-input-infix mat-form-field-infix {
  height: 50px;
}

md-toolbar {
  height: 50px;
}

.mat-toolbar-row {
  height: 0px;
}

.mat-toolbar .mat-toolbar-row {
  display: flex;
}

.searchContainer {
  /* border: 1px solid blue; */
  padding: 0 10px!important;
  position: absolute;
  margin: auto;
  right: 0;
  height: 80px;
  top: 135px;
  left: 0;
}

.searchBar {
  display: flex;
  background-color: #FFF;
  padding: 0 10px!important;
  border-radius: 5px;
  -webkit-box-shadow: 0px 4px 12px -2px rgba(0, 0, 0, 0.36);
  -moz-box-shadow: 0px 4px 12px -2px rgba(0, 0, 0, 0.36);
  box-shadow: 0px 4px 12px -2px rgba(0, 0, 0, 0.36);
}