<div class="container">
  <app-navbar></app-navbar>
  <div fxLayout="row">
    <div fxFlex="grow">
      <div class="titleContainer">
        <div class="textContainer">
          <p class="openS" style="text-align:center; color:#FFF;"><span class="open-s">QUOTE</span><br><span class="open-b">Management</span></p>
        </div>
      </div>
    </div>
  </div>
  <div class="searchContainer">
    <div fxLayout="row">
      <div fxFlex="grow">
        <div class="searchBar">
          <md-toolbar class="inputSearch mat-elevation-z0">
            <md-form-field class="full-width">
              <input mdInput autofocus="off" placeholder="Search">
              <md-icon mdSuffix><i class="material-icons">search</i></md-icon>
            </md-form-field>
          </md-toolbar>
        </div>
      </div>
    </div>
  </div>
  <div fxLayout="column wrap">
    <div fxFlex="grow" class="subTitle">
      <h4 class="populationHead">Recent Quotes</h4>
    </div>
  </div>
  <div fxLayout="column wrap">
    <div class="populationContainer">
      <div fxLayout="column" fxFlex="grow">
        <app-quote-thumbnail></app-quote-thumbnail>
      </div>
    </div>
  </div>
