.footerBar {
  width: 100%;
  display: flex;
  flex: none; /* 2 */
  position: fixed;
  bottom: 0;
  left: 0;
  right: 0;
}

md-toolbar {
  background-color: #472155;
}

.full-width-btn {
  display: block;
  width: 100%;
}
