.footerBar {
  width: 100%;
  display: flex;
  flex: none;
  /* 2 */
  position: fixed;
  bottom: 0;
  left: 0;
  right: 0;
}

md-toolbar {
  background-color: #472155;
  padding: 0px;
}

<<< .mat-button-wrapper {
  padding: 0px;
  width: 100%;
  display: block;
}

.full-width {
  display: block;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  margin: auto;
}

.mat-raised-button {
  display: flex;
  border-radius: 3px;
}

.mat-button-wrapper span {
  text-align: center;
}

/* .mat-button-toggle-label-content {
  display: block;
} */


.btn-primary {
  border-right: 1px solid rgba(93, 57, 138, 1);
  color: rgba(93, 57, 138, 1);
}

.mat-button-toggle-checked {
  background-color: rgba(93, 57, 138, 1);
  color: white;
}
