<div class="container-nav">
  <app-navbar [compTitle]="compTitle"></app-navbar>
  <div class="navBud">
    <p class="previewWarning">This is a form
      <b>preview</b>, please select a action below.</p>
  </div>
</div>
<div class="container-body">
  <div class="row" fxLayout="row">
    <div class="previewBox">
      <div *ngIf="currentQuote.client" class="item">
        <button class="btn btn-default btn-copy" mat-button type="button" (click)="copyToClipboard('client')" *ngIf="userData.type == 'admin'">Copy&nbsp; &nbsp; &nbsp; &nbsp;
          <i class="material-icons">content_copy</i>
        </button>
        <h5>Client</h5>
        <p id="client">{{currentQuote.client}}</p>
        <!-- <input #text> -->
        <!-- <hr> -->
      </div>
      <div *ngIf="currentQuote.contact" class="item">
        <button class="btn btn-default btn-copy" mat-button type="button" (click)="copyToClipboard('contact')" *ngIf="userData.type == 'admin'">Copy&nbsp; &nbsp; &nbsp; &nbsp;
          <i class="material-icons">content_copy</i>
        </button>
        <h5>Contact name</h5>
        <p id="contact">{{currentQuote.contact}}</p>
        <!-- <input #text> -->
        <!-- <hr> -->
      </div>
      <div *ngIf="currentQuote.email" class="item">
        <button class="btn btn-default btn-copy" mat-button type="button" (click)="copyToClipboard('email')" *ngIf="userData.type == 'admin'">Copy&nbsp; &nbsp; &nbsp; &nbsp;
          <i class="material-icons">content_copy</i>
        </button>
        <h5>Email</h5>
        <p id="email">{{currentQuote.email}}</p>
        <!-- <hr> -->
      </div>
      <div *ngIf="currentQuote.address" class="item">
        <button class="btn btn-default btn-copy" mat-button type="button" (click)="copyToClipboard('address')" *ngIf="userData.type == 'admin'">Copy&nbsp; &nbsp; &nbsp; &nbsp;
          <i class="material-icons">content_copy</i>
        </button>
        <h5>Address</h5>
        <p id="address">{{currentQuote.address}}</p>
        <!-- <hr> -->
      </div>
      <div *ngIf="currentQuote.phone" class="item">
        <button class="btn btn-default btn-copy" mat-button type="button" (click)="copyToClipboard('phone')" *ngIf="userData.type == 'admin'">Copy&nbsp; &nbsp; &nbsp; &nbsp;
          <i class="material-icons">content_copy</i>
        </button>
        <h5>Phone</h5>
        <p id="phone">{{currentQuote.phone}}</p>
      </div>
      <div *ngIf="currentQuote.date" class="item">
        <button class="btn btn-default btn-copy" mat-button type="button" (click)="copyToClipboard('date')" *ngIf="userData.type == 'admin'">Copy&nbsp; &nbsp; &nbsp; &nbsp;
          <i class="material-icons">content_copy</i>
        </button>
        <h5>Date quote required by</h5>
        <p id="date">{{currentQuote.date}}</p>
      </div>
      <div *ngIf="currentQuote.fileName" class="item">
        <button class="btn btn-default btn-copy" mat-button type="button" (click)="copyToClipboard('fileName')" *ngIf="userData.type == 'admin'">Copy&nbsp; &nbsp; &nbsp; &nbsp;
          <i class="material-icons">content_copy</i>
        </button>
        <h5>Artwork file name</h5>
        <p id="fileName">{{currentQuote.fileName}}</p>
      </div>
      <div *ngIf="currentQuote.noKinds" class="item">
        <button class="btn btn-default btn-copy" mat-button type="button" (click)="copyToClipboard('noKinds')" *ngIf="userData.type == 'admin'">Copy&nbsp; &nbsp; &nbsp; &nbsp;
          <i class="material-icons">content_copy</i>
        </button>
        <h5>Number of varieties</h5>
        <p id="noKinds">{{currentQuote.noKinds}}</p>
      </div>
      <div *ngIf="currentQuote.qKinds" class="item">
        <button class="btn btn-default btn-copy" mat-button type="button" (click)="copyToClipboard('qKinds')" *ngIf="userData.type == 'admin'">Copy&nbsp; &nbsp; &nbsp; &nbsp;
          <i class="material-icons">content_copy</i>
        </button>
        <h5>Quantity per kind</h5>
        <p id="qKinds">{{currentQuote.qKinds}}</p>
      </div>
      <div *ngIf="currentQuote.cost" class="item">
        <button class="btn btn-default btn-copy" mat-button type="button" (click)="copyToClipboard('cost')" *ngIf="userData.type == 'admin'">Copy&nbsp; &nbsp; &nbsp; &nbsp;
          <i class="material-icons">content_copy</i>
        </button>
        <h5>Include delivery costs?</h5>
        <p id="cost">{{currentQuote.cost}}</p>
      </div>
      <div *ngIf="currentQuote.width" class="item">
        <button class="btn btn-default btn-copy" mat-button type="button" (click)="copyToClipboard('width')" *ngIf="userData.type == 'admin'">Copy&nbsp; &nbsp; &nbsp; &nbsp;
          <i class="material-icons">content_copy</i>
        </button>
        <h5>Label width (mm)</h5>
        <p id="width">{{currentQuote.width}}</p>
      </div>
      <div *ngIf="currentQuote.height" class="item">
        <button class="btn btn-default btn-copy" mat-button type="button" (click)="copyToClipboard('height')" *ngIf="userData.type == 'admin'">Copy&nbsp; &nbsp; &nbsp; &nbsp;
          <i class="material-icons">content_copy</i>
        </button>
        <h5>Label height (mm)</h5>
        <p id="height">{{currentQuote.height}}</p>
      </div>
      <div *ngIf="currentQuote.labelsPer" class="item">
        <button class="btn btn-default btn-copy" mat-button type="button" (click)="copyToClipboard('labelsPer')" *ngIf="userData.type == 'admin'">Copy&nbsp; &nbsp; &nbsp; &nbsp;
          <i class="material-icons">content_copy</i>
        </button>
        <h5>Labels per roll or Max O/D</h5>
        <p id="labelsPer">{{currentQuote.labelsPer}}</p>
      </div>
      <div *ngIf="currentQuote.gap" class="item">
        <button class="btn btn-default btn-copy" mat-button type="button" (click)="copyToClipboard('gap')" *ngIf="userData.type == 'admin'">Copy&nbsp; &nbsp; &nbsp; &nbsp;
          <i class="material-icons">content_copy</i>
        </button>
        <h5>Gap between labels</h5>
        <p id="gap">{{currentQuote.gap}}</p>
      </div>
      <div *ngIf="currentQuote.knife" class="item">
        <button class="btn btn-default btn-copy" mat-button type="button" (click)="copyToClipboard('knife')" *ngIf="userData.type == 'admin'">Copy&nbsp; &nbsp; &nbsp; &nbsp;
          <i class="material-icons">content_copy</i>
        </button>
        <h5>Knife</h5>
        <p id="knife">{{currentQuote.knife}}</p>
      </div>
      <div *ngIf="currentQuote.charge" class="item">
        <button class="btn btn-default btn-copy" mat-button type="button" (click)="copyToClipboard('charge')" *ngIf="userData.type == 'admin'">Copy&nbsp; &nbsp; &nbsp; &nbsp;
          <i class="material-icons">content_copy</i>
        </button>
        <h5>Charges</h5>
        <p id="charge">{{currentQuote.charge}}</p>
      </div>
      <div *ngIf="currentQuote.stock" class="item">
        <button class="btn btn-default btn-copy" mat-button type="button" (click)="copyToClipboard('stock')" *ngIf="userData.type == 'admin'">Copy&nbsp; &nbsp; &nbsp; &nbsp;
          <i class="material-icons">content_copy</i>
        </button>
        <h5>Selected stock</h5>
        <p id="stock">{{currentQuote.stock}}</p>
      </div>
      <div *ngIf="currentQuote.colour" class="item">
        <button class="btn btn-default btn-copy" mat-button type="button" (click)="copyToClipboard('colour')" *ngIf="userData.type == 'admin'">Copy&nbsp; &nbsp; &nbsp; &nbsp;
          <i class="material-icons">content_copy</i>
        </button>
        <h5>Colour</h5>
        <p id="colour">{{currentQuote.colour}}</p>
      </div>
      <div *ngIf="currentQuote.flexoink" class="item">
        <button class="btn btn-default btn-copy" mat-button type="button" (click)="copyToClipboard('flexoink')" *ngIf="userData.type == 'admin'">Copy&nbsp; &nbsp; &nbsp; &nbsp;
          <i class="material-icons">content_copy</i>
        </button>
        <h5>Flexo ink</h5>
        <p id="flexoink">{{currentQuote.flexoink}}</p>
      </div>
      <div *ngIf="currentQuote.flexoNotes" class="item">
        <button class="btn btn-default btn-copy" mat-button type="button" (click)="copyToClipboard('flexoNotes')" *ngIf="userData.type == 'admin'">Copy&nbsp; &nbsp; &nbsp; &nbsp;
          <i class="material-icons">content_copy</i>
        </button>
        <h5>Flexo ink notes</h5>
        <p id="flexoNotes">{{currentQuote.flexoNotes}}</p>
      </div>
      <div *ngIf="currentQuote.finish" class="item">
        <button class="btn btn-default btn-copy" mat-button type="button" (click)="copyToClipboard('finish')" *ngIf="userData.type == 'admin'">Copy&nbsp; &nbsp; &nbsp; &nbsp;
          <i class="material-icons">content_copy</i>
        </button>
        <h5>Finishes</h5>
        <p id="finish">{{currentQuote.finish[0]}}
          <span *ngIf="currentQuote.finish[1]">, {{currentQuote.finish[1]}}</span>
          <span *ngIf="currentQuote.finish[2]">, {{currentQuote.finish[2]}}</span>
          <span *ngIf="currentQuote.finish[3]">, {{currentQuote.finish[3]}}</span>
          <span *ngIf="currentQuote.finish[4]">, {{currentQuote.finish[4]}}</span>
        </p>
      </div>
      <div *ngIf="currentQuote.embel" class="item">
        <button class="btn btn-default btn-copy" mat-button type="button" (click)="copyToClipboard('embel')" *ngIf="userData.type == 'admin'">Copy&nbsp; &nbsp; &nbsp; &nbsp;
          <i class="material-icons">content_copy</i>
        </button>
        <h5>Embellishments</h5>
        <p id="embel">{{currentQuote.embel}}</p>
      </div>
      <div *ngIf="currentQuote.embelNotes" class="item">
        <button class="btn btn-default btn-copy" mat-button type="button" (click)="copyToClipboard('embelNotes')" *ngIf="userData.type == 'admin'">Copy&nbsp; &nbsp; &nbsp; &nbsp;
          <i class="material-icons">content_copy</i>
        </button>
        <h5>Embellishment notes</h5>
        <p id="embelNotes">{{currentQuote.embelNotes}}</p>
      </div>
      <div *ngIf="currentQuote.orient" class="item">
        <button class="btn btn-default btn-copy" mat-button type="button" (click)="copyToClipboard('orient')" *ngIf="userData.type == 'admin'">Copy&nbsp; &nbsp; &nbsp; &nbsp;
          <i class="material-icons">content_copy</i>
        </button>
        <h5>Orientation</h5>
        <p id="orient">{{currentQuote.orient}}</p>
      </div>
      <div *ngIf="currentQuote.appliedBy" class="item">
        <button class="btn btn-default btn-copy" mat-button type="button" (click)="copyToClipboard('appliedBy')" *ngIf="userData.type == 'admin'">Copy&nbsp; &nbsp; &nbsp; &nbsp;
          <i class="material-icons">content_copy</i>
        </button>
        <h5>Label applied by</h5>
        <p id="appliedBy">{{currentQuote.appliedBy}}</p>
      </div>
      <div *ngIf="currentQuote.overPrint" class="item">
        <button class="btn btn-default btn-copy" mat-button type="button" (click)="copyToClipboard('overPrint')" *ngIf="userData.type == 'admin'">Copy&nbsp; &nbsp; &nbsp; &nbsp;
          <i class="material-icons">content_copy</i>
        </button>
        <h5>Overprinting</h5>
        <p id="overPrint">{{currentQuote.overPrint}}</p>
      </div>
      <div *ngIf="currentQuote.core" class="item">
        <button class="btn btn-default btn-copy" mat-button type="button" (click)="copyToClipboard('core')" *ngIf="userData.type == 'admin'">Copy&nbsp; &nbsp; &nbsp; &nbsp;
          <i class="material-icons">content_copy</i>
        </button>
        <h5>Core Size</h5>
        <p id="core">{{currentQuote.core}}</p>
      </div>
      <div *ngIf="currentQuote.windStyle" class="item">
        <button class="btn btn-default btn-copy" mat-button type="button" (click)="copyToClipboard('windstyle')" *ngIf="userData.type == 'admin'">Copy&nbsp; &nbsp; &nbsp; &nbsp;
          <i class="material-icons">content_copy</i>
        </button>
        <h5>Winding style</h5>
        <p id="windstyle">{{currentQuote.windStyle}}</p>
      </div>
      <div *ngIf="currentQuote.suppliedIn" class="item">
        <button class="btn btn-default btn-copy" mat-button type="button" (click)="copyToClipboard('suppliedIn')" *ngIf="userData.type == 'admin'">Copy&nbsp; &nbsp; &nbsp; &nbsp;
          <i class="material-icons">content_copy</i>
        </button>
        <h5>Supplied in</h5>
        <p id="suppliedIn">{{currentQuote.suppliedIn}}</p>
      </div>
      <!-- <div *ngIf="currentQuote.adhesive" class="item">
        <button class="btn btn-default btn-copy" mat-button type="button" (click)="copyToClipboard('adhesive')" *ngIf="userData.type == 'admin'">Copy&nbsp; &nbsp; &nbsp; &nbsp;
          <i class="material-icons">content_copy</i>
        </button>
        <h5>Adhesive</h5>
        <p id="adhesive">{{currentQuote.adhesive}}</p>
      </div> -->
      <div *ngIf="currentQuote.addInfo" class="item">
        <button class="btn btn-default btn-copy" mat-button type="button" (click)="copyToClipboard('addInfo')" *ngIf="userData.type == 'admin'">Copy&nbsp; &nbsp; &nbsp; &nbsp;
          <i class="material-icons">content_copy</i>
        </button>
        <h5>Additional information</h5>
        <p id="addInfo">{{currentQuote.addInfo}}</p>
      </div>
      <div class="item-null mIcon">
        <span *ngIf="userData.type == 'admin'">
          <button class="btn-primary float-left" mat-raised-button *ngIf="currentQuote.stage == 'requested'" (click)="moveToPending()"
            routerLink="/overview">
            <i class="material-icons">move_to_inbox</i> Move to pending </button>
          <button class="btn-primary float-left" mat-raised-button *ngIf="currentQuote.stage == 'pending'" (click)="moveToCompleted()"
            routerLink="/overview">
            <i class="material-icons">check_box</i> Move to completed</button>
          <button class="btn-primary float-left" mat-raised-button *ngIf="currentQuote.stage == 'completed'" (click)="moveToRequested()"
            routerLink="/overview">
            <i class="material-icons">restore_page</i> Order reprint</button>
        </span>
        <button class="btn btn-default btn-copy" mat-raised-button type="button" (click)="copyAll('copyAll')" *ngIf="userData.type == 'admin'">Copy All&nbsp; &nbsp; &nbsp; &nbsp;
          <i class="material-icons">library_books</i>
        </button>
      </div>
      <div class="hidden" id="copyAll">
        <p>{{currentQuote.client}}</p>
        <p>{{currentQuote.contact}}</p>
        <p>{{currentQuote.email}}</p>
        <p>{{currentQuote.address}}</p>
        <p>{{currentQuote.phone}}</p>
        <p>{{currentQuote.date}}</p>
        <p>{{currentQuote.fileName}}</p>
        <p>{{currentQuote.noKinds}}</p>
        <p>{{currentQuote.qKinds}}</p>
        <p>{{currentQuote.cost}}</p>
        <p>{{currentQuote.width}}</p>
        <p>{{currentQuote.height}}</p>
        <p>{{currentQuote.labelsPer}}</p>
        <p>{{currentQuote.gap}}</p>
        <p>{{currentQuote.knife}}</p>
        <p>{{currentQuote.charge}}</p>
        <p>{{currentQuote.stock}}</p>
        <p>{{currentQuote.colour}}</p>
        <p>{{currentQuote.finish[0]}}<span *ngIf="currentQuote.finish[1]">, {{currentQuote.finish[1]}}</span><span *ngIf="currentQuote.finish[2]">, {{currentQuote.finish[2]}}</span><span *ngIf="currentQuote.finish[3]">, {{currentQuote.finish[3]}}</span><span *ngIf="currentQuote.finish[4]">, {{currentQuote.finish[4]}}</span></p>
        <p>{{currentQuote.embel}}</p>
        <p>{{currentQuote.orient}}</p>
        <p>{{currentQuote.appliedBy}}</p>
        <p>{{currentQuote.overPrint}}</p>
        <p>{{currentQuote.core}}</p>
        <p>{{currentQuote.windStyle}}</p>
        <p>{{currentQuote.suppliedIn}}</p>
        <!-- <p>{{currentQuote.adhesive}}</p> -->
        <p>{{currentQuote.addInfo}}</p>
      </div>
    </div>
  </div>
  <!-- <div class="row" fxLayout="row" *ngIf="userData.type == 'admin'"> -->
  <!-- <mat-toolbar class="navBar"> -->
  <!-- <div class=""> -->
  <!-- <button class="text-center btn-primary" md mat-raised-button-raised-button>Repeat</button> -->
  <!-- === === === -->

  <!-- <button class="text-center btn-primary float-center" mat-raised-button *ngIf="currentQuote.stage == 'requested'" (click)="moveToPending()"
      routerLink="/overview">
      <i class="material-icons">move_to_inbox</i> Move to pending </button>
    <button class="text-center btn-primary float-center" mat-raised-button *ngIf="currentQuote.stage == 'pending'" (click)="moveToCompleted()"
      routerLink="/overview">
      <i class="material-icons">check_box</i> Move to completed</button>
    <button class="text-center btn-primary float-center" mat-raised-button *ngIf="currentQuote.stage == 'completed'" (click)="moveToRequested()"
      routerLink="/overview">
      <i class="material-icons">restore_page</i> Order reprint</button> -->

  <!-- === === === === -->
  <!-- <button class="text-center btn-primary" md mat-raised-button-raised-button>Move to pending</button> -->
  <!-- </div> -->
  <!-- </mat-toolbar> -->
  <!-- </div> -->
  <!-- <div class="row" fxLayout="row" *ngIf="userData.type == 'user'">
    <button class="text-center btn-primary float-center full-width" mat-raised-button (click)="repeatOrder()">Repeat <mat-icon>repeat</mat-icon></button>
    <button class="text-center btn-primary float-center full-width" mat-raised-button (click)="editOrder()">Edit <mat-icon>mode_edit</mat-icon></button>
  </div> -->
  <!-- </div> -->
  <div class="container-footer" *ngIf="userData.type == 'user'">
    <app-navfooter (repeatOrder)="repeatOrder($event)" (editOrder)="editOrder($event)"></app-navfooter>
  </div>
</div>
