<div class="container">
  <app-navbar></app-navbar>
  <div fxLayout="column wrap">
    <div fxFlex="grow" class="navBud">
      <p class="previewWarning">This is a form <b>preview</b>, please select a action below.</p>
    </div>
    <div fxFlex class="previewBox">
      <div flxLayout="row">
        <p>Client</p>
        <span>clientname</span>
      </div>
      <div flxLayout="row">
        <p>Email</p>
        <span>..</span>
      </div>
      <div flxLayout="row">
        <p>Address</p>
        <span>..</span>
      </div>
      <div flxLayout="row">
        <p>Phone</p>
        <span>..</span>
      </div>
      <div flxLayout="row">
        <p>Date Required</p>
        <span>..</span>
      </div>
      <div flxLayout="row">
        <p>File name</p>
        <span>..</span>
      </div>
      <div flxLayout="row">
        <p>Variety</p>
        <span>...</span>
      </div>
      <div flxLayout="row">
        <p>Quantity per kind</p>
        <span>...</span>
      </div>
      <div flxLayout="row">
        <p>Include delivery costs?</p>
        <span>...</span>
      </div>
      <div flxLayout="row">
        <p>Width (mm)</p>
        <span>...</span>
      </div>
      <div flxLayout="row">
        <p>Height (mm)</p>
        <span>...</span>
      </div>
      <div flxLayout="row">
        <p>Labels per roll or Max O/D</p>
        <span>...</span>
      </div>
      <div flxLayout="row">
        <p>Gap between labels</p>
        <span>...</span>
      </div>
      <div flxLayout="row">
        <p>Knife</p>
        <span>...</span>
      </div>
      <div flxLayout="row">
        <p>Charges</p>
        <span>...</span>
      </div>
      <div flxLayout="row">
        <p>Selected stock</p>
        <span>...</span>
      </div>
      <div flxLayout="row">
        <p>Colour</p>
        <span>...</span>
      </div>
      <div flxLayout="row">
        <p>Embleishment</p>
        <span>...</span>
      </div>
      <div flxLayout="row">
        <p>Orientation</p>
        <span>...</span>
      </div>
      <div flxLayout="row">
        <p>Label applied by</p>
        <span>...</span>
      </div>
      <div flxLayout="row">
        <p>Adhesive</p>
        <span>...</span>
      </div>
      <div flxLayout="row">
        <p>Overprinting</p>
        <span>...</span>
      </div>
      <div flxLayout="row">
        <p>Core Size</p>
        <span>...</span>
      </div>
      <div flxLayout="row">
        <p>Winding style</p>
        <span>...</span>
      </div>
      <div flxLayout="row">
        <p>Supplied in</p>
        <span>...</span>
      </div>
      <div flxLayout="row">
        <p>Adhesive</p>
        <span>...</span>
      </div>
      <div flxLayout="row">
        <p>Additional information</p>
        <span>...</span>
      </div>
    </div>
  </div>
  <div fxLayout="column wrap">
    <app-navfooter></app-navfooter>
  </div>
</div>
