@import "~@angular/material/prebuilt-themes/indigo-pink.css";
@import url(https://fonts.googleapis.com/icon?family=Material+Icons);
@import url(https://fonts.googleapis.com/css?family=Noto+Sans|Open+Sans);

body, html {
  margin: 0;
  position: relative;
  /* margin-bottom: 4px; */
  /*border: 1px solid red;*/
}

.rbtn {
  border-radius: 20px!important;
  overflow:hidden;
  background-color: #2D0C48!important;
  height: 37px;
  width:100%;
  max-width: 248px;
  position: absolute;
  margin: auto;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  width: 100%;
}

.full-card {
  position:absolute;
  top:0;
  left:0;
  bottom:0;
  right:0;
  height:100%;
  width:100%;
}

.container[_ngcontent-c1]::after {
  height: auto!important;
}
