<div class="materialContainer">
  <div class="box">
    <div layout="column">
      <div flex>
        <md-form-field class="full-width">
          <!-- <i mdPrefix class="material-icons">person_outline</i> -->
          <input mdInput [(ngModel)]="quote.client" type="text" name="client" class="formInput" placeholder="Client" />
        </md-form-field>
        <md-form-field class="full-width">
          <input mdInput [(ngModel)]="quote.email" type="email" name="email" class="formInput" placeholder="E-mail" />
        </md-form-field>
        <md-form-field class="full-width">
          <input mdInput [(ngModel)]="quote.address" type="text" name="address" class="formInput" placeholder="Address" />
        </md-form-field>
        <md-form-field class="full-width">
          <input mdInput [(ngModel)]="quote.addressCont" type="text" name="addressCont" class="formInput" placeholder="Continued address" />
        </md-form-field>
        <md-form-field class="full-width">
          <input mdInput [(ngModel)]="quote.phone" type="text" name="phone" class="formInput" placeholder="Phone" />
        </md-form-field>
      </div>
      <div flex>
        <br>
        <button class="full-width rbtn" md-raised-button color="primary" (click)="submitQuote()" (keydown)="handleSubmit($event)">Submit</button>
        <!-- <ul> -->
          <!-- <li *ngFor="let item of items | async">{{item | json}}</li> -->
        <!-- <p>{{ (item.key | async) }}</p> -->
        <!-- </ul> -->
        <div *ngFor="let quote of feed | async">
          <p>Client: {{ quote.client }}</p>
          <p>Email: {{ quote.client }}</p>
          <p>Address: {{ quote.address }}, {{ quote.addressCont }}</p>
          <p>Phone: {{ quote.phone }}</p>
          <hr />
        </div>
      </div>

    </div>
  </div>
</div>