.quoteInnerContainer.acolChris {
  border-left: 7px solid #5281DF;
}

.quoteOpen.acolChris {
  display: none;
  opacity: 0;
}

.quoteInnerContainer.acolChris {
  background-size: 200% 100%;
  background-image: linear-gradient(to right, transparent 50%, #5281DF 50%);
  transition: background-position .5s cubic-bezier(0.19, 1, 0.22, 1) .1s, color .5s ease 0s, background-color .5s ease;
}

.quoteInnerContainer.focused.acolChris {
  background-color: #5281DF;
  background-position: -100% 100%;
}

.quoteInnerContainer.focused.acolChris span {
  color: #D1EEF0;
}

.quoteInnerContainer.acolTest {
  border-left: 7px solid #6DFFAC;
}

.quoteOpen.acolTest {
  display: none;
  opacity: 0;
}

.quoteInnerContainer.acolTest {
  background-size: 200% 100%;
  background-image: linear-gradient(to right, transparent 50%, #6DFFAC 50%);
  transition: background-position .5s cubic-bezier(0.19, 1, 0.22, 1) .1s, color .5s ease 0s, background-color .5s ease;
}

.quoteInnerContainer.focused.acolTest {
  background-color: #6DFFAC;
  background-position: -100% 100%;
}

.quoteInnerContainer.focused.acolTest span {
  color: #287F48;
}
